<header class="navBar-section">
    <% if (locals.greeting) {%>
        <h1 class="greeting-header"> Hi <%= greeting %>! </h1>
    <% } %>

    <% if (locals.name) {%>
        <h1 class="folder-header"> Folder: <%= name %> </h1>
    <% } %>

    <% if (locals.fileName) {%>
        <h1 class="file-header">File: <%= fileName %></h1>
    <% } %>

    <% if (locals.editTitle) {%>
        <h1 class="edit-header"><%= editTitle %></h1>
    <% } %>

    <% if (locals.parentId && !headerHidden) {%>
        <div class="library-links">
            <a href="/folder/create/<%= parentId %>" class="add-subfolder-link">
                Add Subfolder
                <svg viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#000000" width="15px" height="15px">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> 
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-362.000000, -1037.000000)" fill="#000000"> 
                    <path d="M390,1049 L382,1049 L382,1041 C382,1038.79 380.209,1037 378,1037 C375.791,1037 374,1038.79 374,1041 L374,1049 L366,1049 C363.791,1049 362,1050.79 362,1053 C362,1055.21 363.791,1057 366,1057 L374,1057 L374,1065 C374,
                    1067.21 375.791,1069 378,1069 C380.209,1069 382,1067.21 382,1065 L382,1057 L390,1057 C392.209,1057 394,1055.21 394,1053 C394,1050.79 392.209,1049 390,1049" id="plus" sketch:type="MSShapeGroup"> </path> </g> </g> </g>
                </svg>
            </a>
            <a href="/file/upload/<%= parentId %>" class="add-subfile-link">
                Upload File
                <svg fill="#000000" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 8 8" enable-background="new 0 0 8 8" xml:space="preserve" width="15px" height="18px">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> 
                    <rect x="0.016" y="1.68" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 6.2428 2.2389)" width="5.283" height="1.466"></rect> 
                    <rect x="3.161" y="1.604" width="1.683" height="6.375"></rect> <rect x="2.709" y="1.674" transform="matrix(0.7073 0.7069 -0.7069 0.7073 3.2674 -3.0786)" width="5.284" height="1.465"></rect> </g>
                </svg>
            </a>
        </div>
        
    <% } %>
    
</header>