<header class="navBar-section">
    <% if (locals.greeting) {%>
        <h1 class="greeting-header"> Hi <%= greeting %>! </h1>
    <% } %>

    <% if (locals.name) {%>
        <h1 class="folder-header"> Folder: <%= name %> </h1>
    <% } %>

    <% if (locals.fileName) {%>
        <h1 class="file-header">File: <%= fileName %></h1>
    <% } %>

    <% if (locals.editTitle) {%>
        <h1 class="edit-header"><%= editTitle %></h1>
    <% } %>

    <% if (locals.parentId) {%>
        <div class="library-links">
            <a href="/folder/create/<%= parentId %>">
                Add subfolder
            </a>
            <a href="/file/upload/<%= parentId %>">
                Upload File
            </a>
        </div>
        
    <% } %>
    
</header>