<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/library.css">
    <title>Home</title>
</head>
<body>

    <% if (locals.user) {%>
        <%- include('partials/navBar.ejs') %>
        <%- include('partials/sidebar.ejs', { 
            homeFolder: homeFolder,
            children: homeChildren 
        }) %>
        <section class="main-section">
            <h2>Hi <%= user.firstName %></h2>

            <!-- include homeFolder contents here -->
            <div class="subfolders-container">
                <% if (homeChildren.length > 0) {%>
                    <% homeChildren.forEach(folder => { %>
                        <div class="folder-container">
                            <a href="/folder/library/<%= folder.id %>" class="subfolder-link">
                                <%= folder.name %>
                            </a>
                            <a href="/folder/edit/<%= folder.id %>" class="edit-subfolder-link">
                                Edit
                            </a>

                        </div>
                    <% }) %>
                <% } %>
            </div>
            <div class="subfiles-container">
                <% folderFiles.forEach(file => { %>
                    <div class="file-container">
                        <a href="/file/view/<%= file.id %>" class="subfile-link">
                            <%= file.name %>
                        </a>
                        <a href="/file/delete/<%= file.id %>" class="delete-file-link">
                            Delete
                        </a>
                    </div>
                <% }) %>
            </div>

        </section>
    <% } else { %>
    <section class="main-section">
        <div class="home-section">
            
            <div class="home-screen-container">
                <div class="home-prompt">
                    <h2>Welcome to File Uploader</h2>
                    <div class="sign-in-up-box">
                        <a href="/user/signIn">Sign In</a>
                        Or
                        <a href="/user/signUp">Sign Up</a>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    
    <% } %>
</body>
</html>

