<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/library.css">
    <title> <%= name %> </title>
</head>
<body>
    <%- include('partials/navBar.ejs', {
        name: name,
        parentId: currentId
    }) %>
    
    <%- include('partials/sidebar.ejs', { 
        homeFolder: homeFolder,
        children: homeChildren 
    }) %>

    <!-- need to add a back button that takes user to parent folder -->
    <section class="main-section">
        <div class="library-container">
            <% if (locals.parentFolder) {%>
                <a href="/folder/library/<%= parentFolder.id %>" class="back-to-parent-link">
                    Back to <%= parentFolder.name %>
                </a>
            <% } %>
            <% if (currentFolder.children.length < 1) {%>
                <p>This folder is currently empty</p>
            <% } %>
            
            <div class="subfolders-container">
                <% currentFolder.children.forEach(folder => {%>
                    <div class="folder-container">
                        <a href="/folder/library/<%= folder.id %>" class="subfolder-link">
                            <%= folder.name %>
                        </a>
                    </div>
                <% }) %>
            </div>
            <div class="subfiles-container">
                <!-- files will go here -->
            </div>
        </div>
    </section>
</body>
</html>