<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/file-upload.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <title> <%= title %> </title>
</head>
<body>
    <% if (!locals.errMsg) {%>
    <%- include('partials/navBar.ejs', {
        headerHidden: true
    }) %>
    <%- include('partials/sidebar.ejs', { 
        homeFolder: homeFolder,
        children: homeChildren 
    }) %>
    <section class="main-section">
        <div class="upload-container">
            <form action="/file/upload/<%= parentId %>" 
            method="POST" class="upload-form" enctype="multipart/form-data">
                <h4>
                    <span>Note: </span>File size cannot exceed 13MB.
                </h4>
                <p>
                    * Accepted file types include .xls, .doc, .ppt, .pdf, .mp3/.mp4, and .jpeg/.png
                </p>

                <div class="file-input-section">
                    <label for="fileName">File Name:</label>
                    <input type="text" name="fileName" id="fileName" required>

                    <label for="usrFile">Upload your File:</label>
                    <input type="file" name="userFile" id="userFile" required>
                </div>

                <button class="upload-button">Upload</button>
            </form>
        </div>
        <%} else {%>
            <div class="upload-err-container">
                <h5>Error: <%= errMsg %></h5>
            </div>
        <% } %>
        
    </section>
</body>
</html>